<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1><i class="fas fa-campground"></i> Welcome to Yelpcamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <form action="/campgrounds" method="GET" class="form-inline">
          <div class="input-group-sm">
            <input type="text" name="search" placeholder="Campground search..." class="form-control search-bar">
            <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i> Search</button>
          </div>
        </form>
      </p>
            <p>
        <a class="btn btn-primary btn-sm" href="/campgrounds/new">
          <i class="fas fa-plus"></i> Add New Campground
        </a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display: flex, flex-wrap: wrap">
    <% campgrounds.forEach(function(camp){ %>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="img-thumbnail">
        <img class="img-fluid" src="<%=camp.image%>" alt="Campground Image" />
        <div class="caption">
            <h5 class="camp-title">  <%=camp.name%></h5>
        </div>
        <p>
          <a href="/campgrounds/<%=camp.id%>" class="btn btn-dark btn-sm boton-info">More Info</a>
        </p>
      </div>
    </div>
    <%})%>
  </div>
</div>

<% include ../partials/footer %>
